# Copyright 2024 Chainguard, Inc.
# SPDX-License-Identifier: Apache-2.0

name: Action Lint

on:
  pull_request:
    branches:
      - 'main'

permissions: {}

jobs:

  action-lint:
    name: Action lint
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - name: Check out code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Find yamls
        id: get_yamls
        run: |
          yamls="$(find .github/workflows -name "*.y*ml" | grep -v dependabot. | xargs echo)"
          echo "files=${yamls}" >> "$GITHUB_OUTPUT"

      - name: Action lint
        uses: reviewdog/action-actionlint@0d952c597ef8459f634d7145b0b044a9699e5e43 # v1.71.0
        with:
          actionlint_flags: ${{ steps.get_yamls.outputs.files }}
