# Copyright 2026 Chainguard, Inc.
# SPDX-License-Identifier: Apache-2.0

name: Deploy to Cloud Run

on:
  push:
    branches:
      - "main"
  workflow_dispatch:
    inputs:
      environment:
        description: "The environment to deploy to (e.g., octo-sts, octo-sts-staging)"
        required: true
        default: "octo-sts-staging"
        type: string

env:
  DEFAULT_ENVIRONMENT: "octo-sts-staging"

concurrency: deploy

permissions: {}

jobs:
  deploy:
    runs-on: ubuntu-latest

    if: github.repository == 'octo-sts/app'

    permissions:
      contents: read # clone the repository contents
      id-token: write # federates with GCP

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: "${{ github.workspace }}/.go-version"
          check-latest: true
          cache: "false"

      - uses: google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093 # v3.0.0
        id: auth
        with:
          token_format: "access_token"
          project_id: "${{ inputs.environment || env.DEFAULT_ENVIRONMENT }}"
          workload_identity_provider: "projects/96355665038/locations/global/workloadIdentityPools/github-pool/providers/github-provider"
          service_account: "github-identity@octo-sts.iam.gserviceaccount.com"

      - uses: "docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9" # v2
        with:
          username: "oauth2accesstoken"
          password: "${{ steps.auth.outputs.access_token }}"
          registry: "gcr.io"

      - uses: chainguard-dev/actions/setup-terraform@a601adc7b134a61c9110e17c6ebcdff5e2e53bdc # v1.6.2
        with:
          terraform-version-file: "${{ github.workspace }}/.terraform-version"
          terraform-wrapper: false

      - working-directory: "./env/${{ inputs.environment || env.DEFAULT_ENVIRONMENT }}"
        run: |
          terraform init

          terraform plan

          terraform apply -auto-approve

      - uses: rtCamp/action-slack-notify@e31e87e03dd19038e411e38ae27cbad084a90661 # v2.3.3
        if: ${{ failure() }}
        env:
          SLACK_ICON: http://github.com/chainguard-dev.png?size=48
          SLACK_USERNAME: guardian
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_CHANNEL: "octo-sts-alerts" # Use a channel
          SLACK_COLOR: "#8E1600"
          MSG_MINIMAL: "true"
          SLACK_TITLE: Deploying OctoSTS to Cloud Run failed
          SLACK_MESSAGE: |
            For detailed logs: https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}
