# Copyright 2024 Chainguard, Inc.
# SPDX-License-Identifier: Apache-2.0

name: Deploy to Cloud Run

on:
  push:
    branches:
      - "main"
  workflow_dispatch:

concurrency: deploy

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: read  # clone the repository contents
      id-token: write # federates with GCP

    steps:
    - uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b # v3
    - uses: actions/setup-go@cdcb36043654635271a94b9a6d1392de5bb323a7 # v5.0.1
      with:
        go-version-file: './go.mod'
        check-latest: true

    - uses: google-github-actions/auth@55bd3a7c6e2ae7cf1877fd1ccb9d54c0503c457c # v2.1.2
      id: auth
      with:
        token_format: 'access_token'
        project_id: 'octo-sts'
        workload_identity_provider: 'projects/96355665038/locations/global/workloadIdentityPools/github-pool/providers/github-provider'
        service_account: 'github-identity@octo-sts.iam.gserviceaccount.com'

    - uses: 'docker/login-action@e92390c5fb421da1463c202d546fed0ec5c39f20' # v2
      with:
        username: 'oauth2accesstoken'
        password: '${{ steps.auth.outputs.access_token }}'
        registry: 'gcr.io'

    # Attempt to deploy the terraform configuration
    - uses: hashicorp/setup-terraform@97f030cf6dc0b4f5e0da352c7bca9cca34579800 # v2.0.0
      with:
        terraform_version: 1.6

    - working-directory: ./iac
      run: |
        terraform init

        terraform plan

        terraform apply -auto-approve

    - uses: rtCamp/action-slack-notify@4e5fb42d249be6a45a298f3c9543b111b02f7907 # v2.3.0
      if: ${{ failure() }}
      env:
        SLACK_ICON: http://github.com/chainguard-dev.png?size=48
        SLACK_USERNAME: guardian
        SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
        SLACK_CHANNEL: 'octo-sts-alerts' # Use a channel
        SLACK_COLOR: '#8E1600'
        MSG_MINIMAL: 'true'
        SLACK_TITLE: Deploying OctoSTS to Cloud Run failed
        SLACK_MESSAGE: |
          For detailed logs: https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}
