# Copyright 2024 Chainguard, Inc.
# SPDX-License-Identifier: Apache-2.0

name: Deploy to Cloud Run

on:
  push:
    branches:
      - "main"
  workflow_dispatch:

concurrency: deploy

permissions: {}

jobs:
  deploy:
    runs-on: ubuntu-latest

    if: github.repository == 'octo-sts/app'

    permissions:
      contents: read  # clone the repository contents
      id-token: write # federates with GCP

    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      with:
        persist-credentials: false

    - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        go-version-file: './go.mod'
        check-latest: true

    - uses: google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093 # v3.0.0
      id: auth
      with:
        token_format: 'access_token'
        project_id: 'octo-sts'
        workload_identity_provider: 'projects/96355665038/locations/global/workloadIdentityPools/github-pool/providers/github-provider'
        service_account: 'github-identity@octo-sts.iam.gserviceaccount.com'

    - uses: 'docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef' # v2
      with:
        username: 'oauth2accesstoken'
        password: '${{ steps.auth.outputs.access_token }}'
        registry: 'gcr.io'

    # Attempt to deploy the terraform configuration
    - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v2.0.0
      with:
        terraform_version: 1.9

    - working-directory: ./iac
      run: |
        terraform init

        terraform plan

        terraform apply -auto-approve

    - uses: rtCamp/action-slack-notify@e31e87e03dd19038e411e38ae27cbad084a90661 # v2.3.3
      if: ${{ failure() }}
      env:
        SLACK_ICON: http://github.com/chainguard-dev.png?size=48
        SLACK_USERNAME: guardian
        SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
        SLACK_CHANNEL: 'octo-sts-alerts' # Use a channel
        SLACK_COLOR: '#8E1600'
        MSG_MINIMAL: 'true'
        SLACK_TITLE: Deploying OctoSTS to Cloud Run failed
        SLACK_MESSAGE: |
          For detailed logs: https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}
