# Copyright 2024 Chainguard, Inc.
# SPDX-License-Identifier: Apache-2.0

name: go-build-test

on:
  pull_request:
    branches:
      - 'main'
  push:
    branches:
      - 'main'

permissions: {}

jobs:

  go-build-test:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - name: Check out code onto GOPATH
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: '${{ github.workspace }}/.go-version'
          check-latest: true
          cache: 'false'

      - name: build
        run: |
          go build -o octo-sts ./cmd/app

      - name: test
        run: |
          # Exclude running unit tests against third_party repos.
          go test -v -race ./...
