# Copyright 2024 Chainguard, Inc.
# SPDX-License-Identifier: Apache-2.0

name: terraform-lint-validate

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  terraform-lint-validate:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        terraform-dir:
          - ./iac/bootstrap
          - ./iac

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
        with:
          terraform_version: 1.9

      - run: terraform fmt -check

      - run: cp "$GITHUB_WORKSPACE/.github/testdata/backend_override.tf" "$GITHUB_WORKSPACE/${{ matrix.terraform-dir }}"
      - working-directory: ${{ matrix.terraform-dir }}
        run: |
          terraform init
          terraform validate
