# Copyright 2024 Chainguard, Inc.
# SPDX-License-Identifier: Apache-2.0

name: terraform-lint-validate

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions: {}

jobs:
  terraform-lint-validate:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    strategy:
      matrix:
        terraform-dir:
          - ./iac/bootstrap
          - ./iac

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - uses: chainguard-dev/actions/setup-terraform@6f74cdeee55d70b03fa220746d6739dbbb3e9421 # v1.5.15
        with:
          terraform-version-file: '${{ github.workspace }}/.terraform-version'
          terraform-wrapper: false

      - run: terraform fmt -check -recursive

      - run: cp "$GITHUB_WORKSPACE/.github/testdata/backend_override.tf" "$GITHUB_WORKSPACE/${{ matrix.terraform-dir }}"
      - working-directory: ${{ matrix.terraform-dir }}
        run: |
          terraform init
          terraform validate
