# Copyright 2024 Chainguard, Inc.
# SPDX-License-Identifier: Apache-2.0

name: terraform-lint-validate

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions: {}

jobs:
  terraform-lint-validate:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    strategy:
      matrix:
        terraform-dir:
          - ./iac/bootstrap
          - ./iac

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - uses: chainguard-dev/actions/setup-terraform@7d647f470c4d3692286221bd17ca78206976a61c # v1.5.11
        with:
          terraform-version-file: '${{ github.workspace }}/.terraform-version'
          terraform-wrapper: false

      - run: terraform fmt -check -recursive

      - run: cp "$GITHUB_WORKSPACE/.github/testdata/backend_override.tf" "$GITHUB_WORKSPACE/${{ matrix.terraform-dir }}"
      - working-directory: ${{ matrix.terraform-dir }}
        run: |
          terraform init
          terraform validate
