# Copyright 2024 Chainguard, Inc.
# SPDX-License-Identifier: Apache-2.0

name: terraform-lint-validate

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  terraform-lint-validate:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        terraform-dir:
          - ./iac/bootstrap
          - ./iac

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - uses: hashicorp/setup-terraform@a1502cd9e758c50496cc9ac5308c4843bcd56d36 # v3.0.0

      - run: terraform fmt -check

      - run: cp $GITHUB_WORKSPACE/.github/testdata/backend_override.tf $GITHUB_WORKSPACE/${{ matrix.terraform-dir }}
      - working-directory: ${{ matrix.terraform-dir }}
        run: |
          terraform init
          terraform validate
