# Copyright 2024 Chainguard, Inc.
# SPDX-License-Identifier: Apache-2.0

name: Verify prod Octo-sts

on:
  pull_request_target:
    branches:
      - 'main'

concurrency:
  group: deploy
  cancel-in-progress: false

jobs:
  verify-prod-octo-sts:

    permissions:
      contents: read  # clone the repository contents
      id-token: write # federates with GCP

    uses: ./.github/workflows/.terraform.yaml
    with:
      project_id: 'octo-sts'
      workload_identity_provider: 'projects/96355665038/locations/global/workloadIdentityPools/github-pool/providers/github-provider'
      service_account: 'github-pull-requests@octo-sts.iam.gserviceaccount.com'
      working_directory: ./iac
      octo-sts-identity: verify-prod
      checkout_sha: ${{ github.event.pull_request.head.sha }}
